<nav class="navbar">
  <ul>
    <li>
      <a [routerLink]="['information']" [class.active]="isActive('information')">
        <i class="fas fa-info-circle"></i>
        <span>Information</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['plan']" [class.active]="isActive('plan')">
        <i class="fas fa-map-marker-alt"></i>
        <span>Tour Plan</span>
      </a>
    </li>
    <!-- <li>
      <a [routerLink]="location" >
        <i class="fas fa-map-marker-alt"></i>
        <span>Location</span>
      </a>
    </li>
    <li>
      <a [routerLink]="gallery" >
        <i class="fas fa-images"></i>
        <span>Gallery</span>
      </a>
    </li> -->
  </ul>
</nav>
